spring:
  application:
    name: backend

  datasource:
    url: jdbc:postgresql://localhost:5432/lostfound
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 60000

server:
  port: 8080

jwt:
  secret: mySecretKeyThatIsAtLeast32CharactersLongForHS256Algorithm
  expiration: 86400000  # 24 hours in milliseconds
  cookie-name: jwt_token
  cookie-secure: false  # Set to true in production with HTTPS

logging:
  level:
    root: info

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operationsSorter: method
    tagsSorter: alpha
  show-actuator: true

